pushi 0
storeg 0
pushi 0
storeg 1
pushi 0
storeg 2
start
pushs "Introduza um número inteiro positivo:"
writes
writeln
read
atoi
storeg 0
pushg 0
pushi 0
inf
jz ELSE0
pushs "Não existem números primos negativos."
writes
writeln
stop
jump ENDIF1
ELSE0:
ENDIF1:
pushg 0
pushi 2
inf
jz ELSE2
pushi 0
storeg 2
jump ENDIF3
ELSE2:
pushi 1
storeg 2
pushi 2
storeg 1
WHILE4:
pushg 1
pushg 0
pushi 2
div
infeq
pushg 2
and
jz ENDWHILE5
pushg 0
pushg 1
mod
pushi 0
equal
jz ELSE6
pushi 0
storeg 2
jump ENDIF7
ELSE6:
ENDIF7:
pushg 1
pushi 1
add
storeg 1
jump WHILE4
ENDWHILE5:
ENDIF3:
pushg 2
jz ELSE8
pushg 0
writei
pushs " é um número primo"
writes
writeln
jump ENDIF9
ELSE8:
pushg 0
writei
pushs " não é um número primo"
writes
writeln
ENDIF9:
stop
